#logo1{
    float: left;
    padding: 10px;
}
#logo2{
    float: right;
    padding: 10px;
}
#ttd1{
    float: right;
}
#ttd2{
    float: left;
}
#bawahgaris{
    text-align: center;
    line-height: 40%;
}
